* {
  box-sizing: border-box
}
.autor {
  font: 28px/120% Arial;
  text-align: center;
  color:#696969;
}
.log {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  color:#555
}
.RBtn {
  width: 100%;
  color: #fff;
  background: linear-gradient(#87CEFA, #43AEFA);
  text-transform: uppercase;
  letter-spacing: .4px;
  font-size: 12px;
  padding: 9px 25px;
  border: 1px solid #40ADFA;
  border-radius: 5px
}
.inpt {
  width: 100%;
  padding: 8px 8px;
  background-color: white;
  border: 1px solid #4169E0;
  border-radius: 5px;
  font-size: 15px;
}