.nav{
    background-color: black;
}
.cl9{
    height: 40px;

}
.cl3{
    position: relative;
}
.drop{
    position: absolute;
    left: 300px;
    height: 40px;
    color: bisque;
    background-color:black;
    right: 0px;
    text-decoration: none;

}
#nav-dropdown{
    color: white;
    background-color: black;

}
.drop:hover{
    background-color: black;
}

.dropdown-menu{
    position: absolute;
    background-color: #e5e5e5;
}
.dropdown-menu:hover{
    background-color: #e5e5e5;
    text-decoration: none;
}